html {
    --black: #2B2B2B;
    --grey: #555555;
    --lighblue:#63ECFF;
    --purple: #D7D5FF;
    --white: #FFFFFF;
    --orange: #FF6363;
    --pink: #F363FF;
    --green:#63FF73;
    --yellow: #FFDD63;
    --darkblue: #6663FF;
}

